<h1>All users</h1>

<%= page_navigation_links(@users) %>

<ul>
  <% @users.each do |user| -%>
    <li>
    <%= gravatar_for user, :size => 30 %>
    <%= link_to user.name, user %>
    </li>
  <% end -%>
</ul>

<%= page_navigation_links(@users) %>
