<%= form_for current_user.user_relationships.find_by_followed_id(@user),
  :html => {:method => :delete } do |f| -%>
  <%= f.hidden_field :followed_id %>
  <div class="">
    <%= f.submit "Unfollow", :class => "btn" %>
  </div>
<% end -%>

