<%= form_for( current_user.user_relationships.build(:followed_id => @user.id)) do |f| -%>
  <%= f.hidden_field :followed_id %>
  <div class="">
    <%= f.submit "Follow", :class => "btn btn-success" %>
  </div>
<% end -%>


